// colors
// $clr1: #aed13b;
$clr1: #a4ca38; //new
// $clr2: #69BD42;
$clr2: #42830d; //new
$clr3: #39ff92;
$clr4: #467c2a;
$clr5: #030303;
$clr6: #FCFCFC;
$clr7: #292727;
$gray1: #272727;
$gray2: #4b4b4b;
$gray3: #878787;
$gray4: #b1b0b096;
$gray5: #f0f0f096;
// LAYOUT BREAKPOINTS
$break-narrow: 500px;
$break-normal: 690px;
$break-wide: 980px;

//global sizes cmp 
$app-header-height: 60px