.global-info .details-container {
    flex-direction: column;
    @include for-small-narrow-layout {
        flex-direction: row;
    }
    &>* {
        // width: rem(200px);
        height: rem(200px);
        // background-color: $clr2;
        // background-image: linear-gradient(to bottom, $clr1, $clr2);
        margin: rem(10px);
        border-radius: 50%;
        padding: rem(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & i {
            font-size: 50px;
        }
    }
}