.main-container {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1000px) minmax(2rem, 1fr);
    >* {
        grid-column: 2;
        @include for-mobile-layout {
            grid-column: 1/-1;
        }
    }
    // & header {
    //     grid-row: 1;
    // }
    // & main {
    //     grid-row: 2;
    // }
    // & footer {
    //     grid-row: 3;
    // }
    .full {
        grid-column: 1/-1;
    }
}

#app {
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
}

.small-container {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 500px) minmax(2rem, 1fr);
    >* {
        grid-column: 2;
    }
}